---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<header>
    <div class="max-w-xl mx-auto text-center py-24">
        <h1 class="text-base-800 font-medium md:text-4xl text-3xl">
            En Ecomoda, creemos que la moda es una forma de expresión.
        </h1>
        <p class="mt-2 text-base-500 text-balance text-sm">
            Ropa que vibra contigo, combina con tu energía y te acompaña en cada
            aventura. Nuevas colecciones cada semana, looks que rompen la rutina
            y precios que te encantan. 🔥 Atrévete a ser tú misma.
        </p>
        <div class="flex justify-center flex-wrap gap-3 mt-4">
            <a
                class="px-4.5 font-medium h-9 text-xs bg-orange-500 text-white rounded-full flex
                items-center justify-center hover:bg-orange-600 duration-300 w-fit"
                href="/productos"
                >Volver a productos
            </a>
        </div>
    </div>
</header>
