---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/global/Footer.astro";
import Cart from "../components/global/cart.astro";
---

<html lang="en">
    <head>
        <BaseHead />
        <Cart />
    </head>
    <body class="bg-white max-w-6xl mx-auto px-8 lg:px-12 flex flex-col">
        <main class="grow"><slot /></main>
        <Footer />
    </body>
</html>
